* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    background: rgb(1, 4, 9);
    min-height: 100vh;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: rgb(121, 192, 255);
    font-size: 5rem;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
}

.calc {
    width: 475px;
    min-height: 550px;
    height: auto;
    margin: 20px auto;
    padding: 2em;
    border-radius: 44px;
    border: 1px solid rgb(3, 82, 77);
    background: rgb(13, 17, 23);
}

.display{
    width: 100%;
    height: 3.2em;
    border-radius: 15px;
    margin-bottom: 20px;
    font-size: 2.5rem;
    text-align: right;
    padding-right: 20px;
    box-sizing: border-box;
    background: rgb(9, 21, 46);
    border-radius: 24px;
    border: 1px solid rgb(0, 65, 45);
}


.buttons{
    /* padding: 2em; */
    /* background-color: rgb(119, 165, 11); */
    display: flex;
    align-items: center;
    width: auto;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.nums{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    align-items: center;
    margin: 1em; 
}

.oper{
    display: flex;
    flex-direction: column;
    margin: 1em;
    align-items: center;
    gap: 1em;  
}

.basic{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;  
}

.nums button{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: 600;
    border: none;
    background: rgb(5, 122, 102);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
.nums button:hover{
    background: rgb(3, 82, 77);
}

.oper button{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: 600;
    border: none;
    background: #046358;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.3s ease;
}
.oper button:hover{
    background: rgb(3, 82, 77);
}
.oper .clear {
    background: #003931;
    border-radius: 3em;
    color: rgb(253, 253, 253);
    width: 3em;
}
.oper .equals {
    /* background: #003931; */
    border-radius: 3em;
    color: rgb(253, 253, 253);
    width: 2.5em;
}

.oper .clear:hover {
    background: rgb(77, 0, 9);
}

.oper .equals:hover {
    background: rgb(2, 54, 45);
}

#input{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
