body {
    background: linear-gradient(243deg, #707070 0.46%, #E6E6E6 99.64%);
    min-height: 100vh;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: #FFF;
    margin: 20px 0 10px;

    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #000;

    font-size: 5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.calc{
    width: 475px;
    height: 550px;
    margin: auto;
    padding: 20px;
border-radius: 42.045px;
border: 3px solid #FFF;
background: rgba(0, 0, 0, 0.47);
}

.display{
    width: 100%;
    height: 80px;
    border-radius: 15px;
    border: none;
    margin-bottom: 20px;
    font-size: 2.5rem;
    text-align: right;
    padding-right: 20px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.46);
    border-radius: 15.884px;
    border: 2px solid #FFF;
}


.buttons{
    display: flex;
    align-items: center;

}

.nums{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    align-items: center;  
}

.oper{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-left: 10px;
    align-items: center;  
}

.buttons{


    display: flex;
    width: 93.526px;
    padding: 22.038px 28.263px 24.488px 29.263px;
    justify-content: center;
    align-items: center;
    justify-self: center;
}