* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    background: rgb(1, 4, 9);
    min-height: 100vh;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: rgb(121, 192, 255);
    font-size: 5rem;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
}

.calc {
    width: 475px;
    min-height: 550px;
    height: auto;
    margin: 20px auto;
    padding: 20px;
    border-radius: 44px;
    border: 1px solid rgb(3, 82, 77);
    background: rgb(13, 17, 23);
}

.display{
    width: 100%;
    height: 80px;
    border-radius: 15px;
    margin-bottom: 20px;
    font-size: 2.5rem;
    text-align: right;
    padding-right: 20px;
    box-sizing: border-box;
    background: rgb(9, 21, 46);
    border-radius: 24px;
    border: 1px solid rgb(0, 65, 45);
}


.buttons{
    display: flex;
    align-items: center;
    width: auto;
    padding: 22.038px 28.263px 24.488px 29.263px;
    justify-content: center;
    align-items: center;
    justify-self: center;
    background-color: bisque;
}

.nums{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    align-items: center;  
}

.oper{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-left: 10px;
    align-items: center;  
}

