:root {
  --pr-O: #3b82f6;
  --pr-X: #ef4444;
  --bg: #F1F3E0;
  --heading: #778873;
  --text: #111111;
  
  /* Neutral scale */
  --gray-100: #f5f5f5;
  --gray-200: #e5e5e5;
  --gray-300: #d4d4d4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


