:root {
  --pr-O: #ffae00;
  --pr-X: #3b87ea;
  --bg: #F1F3E0;
  --box: #D2DCB6;
  --myAcc: #c4ceac;
  --accent: #A1BC98;
  --heading: #778873;
  --text: #000000;
  
  /* Neutral scale */
  --gray-100: #f5f5f5;
  --gray-200: #e5e5e5;
  --gray-300: #d4d4d4;
}

body.dark {
  --pr-O: #ffae00;
  --pr-X: #3b87ea;

  --bg: #121212;
  --box: #1e1e1e;
  --myAcc: #282828;
  
  --accent: #A1BC98;
  --heading: #e0e0e0;
  --text: #f0f0f0;
  
  --gray-100: #333333;
  --gray-200: #555555;
  --gray-300: #777777;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg);
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1{
    color: var(--heading);
    margin-bottom: 2vmin;
    font-size: 8vmin;
}

.announcement {
    padding: 1vmin 3vmin;
    color :white;
    border-radius: 4vmin;
    margin-bottom: 2vmin;
    font-size: 4vmin;
    font-weight: 600;
    background-color: var(--accent);
    visibility: hidden;
}


.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vmin;
  /* background-color: var(--accent); */
  padding: 1vmin;
  width: fit-content;
  height: fit-content;
}

.cell {
  width: 18vmin;
  height: 18vmin;
  background:  var(--box);
  border: none;
  box-shadow: var(--gray-300) 2px 2px 5px; /* fix shadow later */
  cursor: pointer;
  border-radius: 1vmin;
  font-size: 10vmin;
  font-weight: 600;
}

.cell:hover {
  background-color: var(--myAcc);
}

#rst-btn {
    margin-top: 3vmin;
    padding: 1vmin 3vmin;
    font-size: 4vmin;
    background-color: var(--accent);
    border: none;
    color: var(--bg);
    cursor: pointer;
    box-shadow: var(--gray-300) 2px 2px 5px;
}