@font-face {
  font-family: "Rostave";
  src: url("./assets/RostavePersonalUse-Eaylz.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face{
    font-family: "Betron";
    src: url("./assets/Betron.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:"Prestigious";
    src: url("./assets/Prestigious.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("assets/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

html, body {
  height: 100%;
  margin: 0;
}

button {
  all: unset;
  cursor: pointer;
}



h1{
    text-align: center;
    color: white;
    -webkit-text-stroke: 2px #005b8C;
    margin-top: 4rem;
    font-family: "Rostave", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
}

.scoreBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 4rem;
    font-family: "Betron", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    color: white;
    -webkit-text-stroke: 1px #005b8C;
    text-shadow: 0 0 10px #005B8C;

}

.vs{
    font-family: "Prestigious", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4rem;
    color: #3EC5FF;
}

.playArea{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 12rem;
}

.playerSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.computerSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3{
    font-family: "Betron", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: white;
    letter-spacing: 0.15rem;
}


.container{
    min-height: 6rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(0, 123, 255, 0.30) 0%, rgba(0, 84, 173, 0.30) 51.44%, rgba(0, 47, 97, 0.30) 100%);
    min-width: 19rem;
    border-radius: 1.25rem;
    align-items: center;
}

.container:hover{
    background: linear-gradient(180deg, rgba(0, 123, 255, 0.50) 0%, rgba(0, 84, 173, 0.50) 51.44%, rgba(0, 47, 97, 0.50) 100%);
    box-shadow: 0 0 0.7rem #00A1FF;
    transition: all 0.2s ease-in-out;
}

.imgContainer{
    width: 4.25rem;
    height: 4.25rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oimg{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.roboMoveContainer{
    flex-direction: column;
    align-items: center;
    min-width: 15.4rem;
    min-height: 15.4rem;
    gap: 0rem;
}

.rImgContainer{
    width: 8rem;
    height: 10rem;
}

.buttonText{
    font-family: "Prestigious", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4rem;
    color: #3EC5FF;
}