*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("assets/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

html, body {
  height: 100%;
  margin: 0;
}

