@font-face {
  font-family: "Rostave";
  src: url("./assets/RostavePersonalUse-Eaylz.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face{
    font-family: "Betron";
    src: url("./assets/Betron.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:"Prestigious";
    src: url("./assets/Prestigious.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("assets/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

html, body {
  height: 100%;
  margin: 0;
}

h1{
    text-align: center;
    color: white;
    -webkit-text-stroke: 2px #005b8C;
    margin-top: 4rem;
    font-family: "Rostave", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    /* font-size: 49.4px; */
    text-shadow: 0 0 10px #005B8C;

}

.scoreBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 4rem;
    font-family: "Betron", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    color: white;
    -webkit-text-stroke: 1px #005b8C;
    text-shadow: 0 0 10px #005B8C;

}

.vs{
    font-family: "Prestigious", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4rem;
    color: #3EC5FF;
    /* -webkit-text-stroke: 1px #005b8C;
    text-shadow: 0 0 10px #005B8C; */
}

.playArea{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    gap: 4rem;
}

.playerSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 6rem;
}

.computerSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 6rem;
}

h3{
    font-family: "Rostave", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    color: white;
    -webkit-text-stroke: 1px #005b8C;
    text-shadow: 0 0 10px #005B8C;
}

.imgContainer{
    width: 150px;
    height: 150px;
    border: 5px solid #005B8C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 15px #005B8C;
    transition: transform 0.3s ease;
}
